$black-color: #222222;
$light-black-color: #575757;
$pink-color: #F1E4E6;
$pink-dark-color: #F16D7F;
$grey-color: #5D5D5D;
$white-gray-color: #E1E1E1;
$light-grey-color: #9F9F9F;
$darklight-grey-color: #E1E1E1;
$ultralight-grey-color: #F8F8F8;
$white-color: #FBFBFB;
$another-gray-color: #F5F3F3;

$table-content: 768px;
$mobile-content: 375px;
